PORT=8080
MONGODB_URI=tu_cadena_de_conexion_a_mongodb_aqui
GOOGLE_CLIENT_ID=tu_client_id_de_google
GOOGLE_CLIENT_SECRET=tu_client_secret_de_google
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback
SESSION_SECRET=un_secreto_muy_seguro_para_la_sesion
NODE_ENV=production
RENDER_EXTERNAL_HOSTNAME=domain_de_tu_aplicacion_en_render_aqui